:root {
  --accent1: #0C3756;
  --accent2: #1F5372;
  --accent3: #3A728E;
  --accent4: #5C93AA;
  --accent5: #86B6C6;
  --accent6: #B7D9E2;
  --accent7: #F0FCFE;
  --app-background: white;
  --app-text: #021624;
  --error: #860C2C;
  --muted-background: #e2e2e2;
  --muted-text: #9a9a9a;
  --spacer: 16px;
  --spacer-half: 8px;
  --spacer-quarter: 4px;
  --success: #0C7640;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

button {
  background-color: var(--accent1);
  border: none;
  color: var(--app-background);
  padding: var(--spacer);
  transition: background-color 160ms ease-in;
}
button:hover {
  background-color: var(--accent4);
  cursor: pointer;
  transition: background-color 160ms ease-out;
}
footer {
  color: var(--accent5);
  font-size: calc(var(--spacer-half) + var(--spacer-quarter));
  height: calc(var(--spacer) * 2);
}
h1 {
  color: var(--accent2);
}
input {
  background-color: var(--app-background);
  border: none;
  border-bottom: 2px solid var(--accent1);
  font-size: var(--spacer);
  outline: none;
  padding: var(--spacer);
  transition: border-bottom 160ms ease-out;
}
input:hover {
  border-bottom: 2px solid var(--accent4);
  transition: border-bottom 160ms ease-in;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flex {
  display: flex;
}
.direction-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-space-between {
  justify-content: space-between;
}
.h-100 {
  height: calc(100vh - var(--spacer) * 2);
}
.mb-1 {
  margin-bottom: var(--spacer);
}
.mr-1 {
  margin-right: var(--spacer);
}
.mt-1 {
  margin-top: var(--spacer);
}
.text-center {
  text-align: center;
}
.w-100 {
  width: 100%;
}

.root-wrap {
  padding: var(--spacer);
}
.sign-in {
  margin: 0 auto;
  width: calc(var(--spacer) * 20);
}
.error-board-wrap {
  height: calc(var(--spacer) * 2);
}
.error-board {
  background-color: var(--error);
  color: var(--app-background);
  font-size: calc(var(--spacer-quarter) + var(--spacer-half));
  padding: var(--spacer);
  width: 100%;
}
.home-tab-button {
  background-color: var(--app-background);
  border-bottom: 2px solid var(--app-background);
  color: var(--accent2);
  transition: border-bottom 160ms ease-out;
  width: 50%;
}
.home-tab-button:hover {
  background-color: var(--app-background);
  border-bottom: 2px solid var(--accent2);
  transition: border-bottom 160ms ease-in;
}
.tab-selected {
  border-bottom: 2px solid var(--accent2);
}
.track {
  background-color: var(--app-background);
  color: var(--accent1);
  padding: var(--spacer-quarter) var(--spacer);
  transition: background-color 160ms ease-in, color 160ms ease-in;
}
.track:hover {
  background-color: var(--accent1);
  color: var(--app-background);
  transition: background-color 160ms ease-out, color 160ms ease-out;
}

/* Loader */
@keyframes loaderbg {
  0% {
    backdrop-filter: none;
  }
  100% {
    backdrop-filter: brightness(250%) grayscale(100%) blur(var(--spacer-half));
  }
}
.loader-wrap {
  animation: loaderbg 160ms linear;
  backdrop-filter: brightness(250%) grayscale(100%) blur(var(--spacer-half));
  height: 100vh;
  position: absolute;
  width: 100%;
}
.loader, .loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(12, 55, 86, 0.2);
  border-right: 1.1em solid rgba(12, 55, 86, 0.2);
  border-bottom: 1.1em solid rgba(12, 55, 86, 0.2);
  border-left: 1.1em solid var(--accent2);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
